@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }

.card-container {
    margin-top: 20px;
    width: 100%;
}

.card-detail {
    background-color: #262626;
    color: white;
    padding: 4vh 6vw;
    width:80%;
    max-width: 600px;
    margin: auto;
}

.card-category {
    font-size: 0.8rem;
    background-color: inherit;   
    font-family: GmarketSansLight;
}

.card-title{
    font-size: 1rem;
    margin-top: 1.25vh;
    background-color: inherit;   
    font-family: GmarketSansMedium;
}

.card-summary{
    font-size: 0.8rem;
    margin-top: 1vh;
    background-color: inherit;   
    color: gray;
    font-family: GmarketSansLight;
}

.card-date{
    font-size: 0.7rem;
    margin-top: 1vh;
    background-color: inherit; 
    color: gray;
    font-family: GmarketSansLight;
}

.footer {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 30px;
    margin-bottom: 150px;
    font-family: GmarketSansMedium;
    color: white;

}