@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


.profile_img {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 180px;
}

.social {
    text-align: center;
}

.social img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: contain;
    opacity: 0.3;
    transition: 0.3s;
}

.social img:hover {
    transition: 0.3s;
    opacity: 1.0;
    transform: scale( 1.1 );
}


.upper_title {
    text-align: center;
    font-size: 12pt;
    font-family: GmarketSansLight;
    color: white;
}

.title_neo {
    font-size: 50px;
    font-family: GmarketSansBold;
}

.upper_des {
    text-align: center;
    font-size: 12pt;
    font-family: GmarketSansLight;
    margin-left: 10vw;
    margin-right: 10vw;;
    line-height: 2rem;
    color: #525252;
}


.highlight {
    color: white;
}

.timeline {
    font-family: GmarketSansMedium;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 20px;
    line-height: 4vh;
    color: white;
    text-align: center;
    font-size: 10pt;
}